In [49]:
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/1qsQ4m0IoYG_aSZmOl1SJSxr5UnpiLuyBYzs_RtfLE-E/export?format=csv&gid=0"
df = pd.read_csv(url)

In [50]:
df = df[['Date', 'Start Time', 'End Time', 'Session Taken By']]
df['Date'] = pd.to_datetime(df['Date'])
df

/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/4174814731.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])

         Date Start Time End Time Session Taken By
0  2024-11-23      22:00    23:00           Hashim
1  2024-11-25      19:45    21:00          Huzaifa
2  2024-11-26      19:45    21:00           Hashim
3  2024-11-27      15:00    17:00           Hashim
4  2024-11-27      17:00    17:35           Hashim
5  2024-11-27      22:00    23:45          Huzaifa
6  2024-11-28      18:00    18:45          Huzaifa
7  2024-11-30      21:00    22:10           Hashim
8         NaT        NaN      NaN              NaN
9         NaT        NaN      NaN              NaN
10        NaT        NaN      NaN              NaN
11        NaT        NaN      NaN              NaN
12        NaT        NaN      NaN              NaN
13        NaT        NaN      NaN              NaN
14        NaT        NaN      NaN              NaN
15        NaT        NaN        0              NaN

In [51]:
df = df.dropna()
df

        Date Start Time End Time Session Taken By
0 2024-11-23      22:00    23:00           Hashim
1 2024-11-25      19:45    21:00          Huzaifa
2 2024-11-26      19:45    21:00           Hashim
3 2024-11-27      15:00    17:00           Hashim
4 2024-11-27      17:00    17:35           Hashim
5 2024-11-27      22:00    23:45          Huzaifa
6 2024-11-28      18:00    18:45          Huzaifa
7 2024-11-30      21:00    22:10           Hashim

In [52]:
month = input("Enter the month: ")
print(month)

11

In [53]:
df_hashim = df[df['Session Taken By'] == 'Hashim']
df_huzaifa = df[df['Session Taken By'] == 'Huzaifa']
df_huzaifa

        Date Start Time End Time Session Taken By
1 2024-11-25      19:45    21:00          Huzaifa
5 2024-11-27      22:00    23:45          Huzaifa
6 2024-11-28      18:00    18:45          Huzaifa

In [54]:
df_hashim['Start Time'] = df_hashim['Start Time'].astype(str)
df_hashim['End Time'] = df_hashim['End Time'].astype(str)

/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/276626552.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hashim['Start Time'] = df_hashim['Start Time'].astype(str)
/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/276626552.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hashim['End Time'] = df_hashim['End Time'].astype(str)

In [55]:
df_hashim['Start Time'] = df_hashim['Date'].dt.strftime('%d-%m-%Y') + ' ' + df_hashim['Start Time']
df_hashim['End Time'] = df_hashim['Date'].dt.strftime('%d-%m-%Y') + ' ' + df_hashim['End Time']
df_hashim['Start Time'] = pd.to_datetime(df_hashim['Start Time'])
df_hashim['End Time'] = pd.to_datetime(df_hashim['End Time'])
df_hashim

/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/3111992834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hashim['Start Time'] = df_hashim['Date'].dt.strftime('%d-%m-%Y') + ' ' + df_hashim['Start Time']
/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/3111992834.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hashim['End Time'] = df_hashim['Date'].dt.strftime('%d-%m-%Y') + ' ' + df_hashim['End Time']
/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/3111992834.py:3: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_hashim['Start Time'] = pd.to_datetime(df_hashim['Start Time'])
/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/3111992834.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hashim['Start Time'] = pd.to_datetime(df_hashim['Start Time'])
/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/3111992834.py:4: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_hashim['End Time'] = pd.to_datetime(df_hashim['End Time'])
/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/3111992834.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hashim['End Time'] = pd.to_datetime(df_hashim['End Time'])

        Date          Start Time            End Time Session Taken By
0 2024-11-23 2024-11-23 22:00:00 2024-11-23 23:00:00           Hashim
2 2024-11-26 2024-11-26 19:45:00 2024-11-26 21:00:00           Hashim
3 2024-11-27 2024-11-27 15:00:00 2024-11-27 17:00:00           Hashim
4 2024-11-27 2024-11-27 17:00:00 2024-11-27 17:35:00           Hashim
7 2024-11-30 2024-11-30 21:00:00 2024-11-30 22:10:00           Hashim

In [56]:
df_huzaifa['Start Time'] = df_huzaifa['Date'].dt.strftime('%d-%m-%Y') + ' ' + df_huzaifa['Start Time']
df_huzaifa['End Time'] = df_huzaifa['Date'].dt.strftime('%d-%m-%Y') + ' ' + df_huzaifa['End Time']
df_huzaifa['Start Time'] = pd.to_datetime(df_huzaifa['Start Time'])
df_huzaifa['End Time'] = pd.to_datetime(df_huzaifa['End Time'])
df_huzaifa

/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/2010702248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_huzaifa['Start Time'] = df_huzaifa['Date'].dt.strftime('%d-%m-%Y') + ' ' + df_huzaifa['Start Time']
/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/2010702248.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_huzaifa['End Time'] = df_huzaifa['Date'].dt.strftime('%d-%m-%Y') + ' ' + df_huzaifa['End Time']
/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/2010702248.py:3: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_huzaifa['Start Time'] = pd.to_datetime(df_huzaifa['Start Time'])
/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/2010702248.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_huzaifa['Start Time'] = pd.to_datetime(df_huzaifa['Start Time'])
/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/2010702248.py:4: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_huzaifa['End Time'] = pd.to_datetime(df_huzaifa['End Time'])
/var/folders/4z/b4t1_hr57n71gbffwk6cw43w0000gn/T/ipykernel_47849/2010702248.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_huzaifa['End Time'] = pd.to_datetime(df_huzaifa['End Time'])

        Date          Start Time            End Time Session Taken By
1 2024-11-25 2024-11-25 19:45:00 2024-11-25 21:00:00          Huzaifa
5 2024-11-27 2024-11-27 22:00:00 2024-11-27 23:45:00          Huzaifa
6 2024-11-28 2024-11-28 18:00:00 2024-11-28 18:45:00          Huzaifa

In [57]:
df_hashim = df_hashim[(df_hashim['Date'].dt.month == int(month))]
df_hashim['Hours'] = (df_hashim['End Time'] - df_hashim['Start Time']).dt.total_seconds() / 3600
df_hashim['Hours'] = df_hashim['Hours'].round(2)
df_hashim

        Date          Start Time            End Time Session Taken By  Hours
0 2024-11-23 2024-11-23 22:00:00 2024-11-23 23:00:00           Hashim   1.00
2 2024-11-26 2024-11-26 19:45:00 2024-11-26 21:00:00           Hashim   1.25
3 2024-11-27 2024-11-27 15:00:00 2024-11-27 17:00:00           Hashim   2.00
4 2024-11-27 2024-11-27 17:00:00 2024-11-27 17:35:00           Hashim   0.58
7 2024-11-30 2024-11-30 21:00:00 2024-11-30 22:10:00           Hashim   1.17

In [59]:
total_hours_hashim = df_hashim['Hours'].sum()
print(f"Total hours worked by Hashim in month of {month} is {total_hours_hashim}")

Total hours worked by Hashim in month of 11 is 6.0

In [60]:
df_huzaifa = df_huzaifa[(df_huzaifa['Date'].dt.month == int(month))]
df_huzaifa['Hours'] = (df_huzaifa['End Time'] - df_huzaifa['Start Time']).dt.total_seconds() / 3600
df_huzaifa['Hours'] = df_huzaifa['Hours'].round(2)
df_huzaifa

        Date          Start Time            End Time Session Taken By  Hours
1 2024-11-25 2024-11-25 19:45:00 2024-11-25 21:00:00          Huzaifa   1.25
5 2024-11-27 2024-11-27 22:00:00 2024-11-27 23:45:00          Huzaifa   1.75
6 2024-11-28 2024-11-28 18:00:00 2024-11-28 18:45:00          Huzaifa   0.75

In [61]:
total_hours_huzaifa = df_huzaifa['Hours'].sum()
print(f"Total hours worked by Huzaifa in month of {month} is {total_hours_huzaifa}")

Total hours worked by Huzaifa in month of 11 is 3.75

In [62]:
invoice_hashim = total_hours_hashim * 2000
invoice_huzaifa = total_hours_huzaifa * 2000
print(f"Total invoice for Hashim in month of {month} is {invoice_hashim}")
print(f"Total invoice for Huzaifa in month of {month} is {invoice_huzaifa}")

Total invoice for Hashim in month of 11 is 12000.0
Total invoice for Huzaifa in month of 11 is 7500.0

In [63]:
total_amount = invoice_hashim + invoice_huzaifa
print(f"Total amount payable for month of {month} is {total_amount}")

Total amount payable for month of 11 is 19500.0